.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.sheet-music {
  font-size: 74px;
  letter-spacing: -8px;
  font-family: 'Noto Music';
  width: 300px;

  position: relative; 
  margin: 0 auto; 
  text-align: center;
}

.staff {
  position: relative; 
  margin: 0 auto; 
  text-align: center;
  font-size: 1em;
}

.signature {
  margin-left: 18px;
  position: absolute; 
  font-size: 1em;
}

#trebleClef {
  top: 108px;
  position: absolute;
}

#baseClef {
  top: 300px;
  position: absolute;
}

.staff {
  height: 18px;
}

.ledger {
  height: 18px;
  transform: scale(.6, 1);
  text-align: right;
  margin-left: 227px;
}


#notes {
  position: absolute; 
  justify-content: right;
  display: flex;

  top: 5px;
  width: 100%;
  font-size: 0.95em;
}

.note {
  position: absolute;
  width: 5%;
}

.invisible {
  visibility: hidden;
}

.piano {
  width: 300px;
  margin: 0px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
