.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white; 
}

.App-link {
  color: #61dafb;
}

.sheet-music {
  font-size: 74px;
  letter-spacing: -8px;
  font-family: 'Noto Music';
  width: 300px;

  position: relative; 
  margin: 0 auto; 
  text-align: center;
}

.staff {
  position: relative; 
  margin: 0 auto; 
  text-align: center;
  font-size: 1em;
}

.signature {
  margin-left: 18px;
  position: absolute; 
  width: 5%;
  top: 0; 
  font-size: 1em;
}

.ledgers {
  position: absolute;
  top: 5px;
  transform: scale(.6, 1)
}

.ledger {
  height: 18px;
  font-weight: lighter;
}


#notes {
  position: absolute; 
  justify-content: right;
  display: flex;

  top: 5px;
  width: 100%;
  font-size: 0.95em;
}

.note {
  position: absolute;
  width: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
